* {
  margin: 0;
  padding: 0;
}

.Nav {
  padding: 30px;
  background-color: rgb(4, 101, 10);
  color: rgb(107, 197, 12);
}

.Nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 50px;
}


